.article-3 {  
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    overflow-x: hidden;
    &__wrap{
        max-width: 996px;
        margin: 0 auto;
        background-repeat: repeat-y;
        background-position: left;
    }
    &__container {
        margin: 0;
        &--main{
            margin-top: 30px;
            @include bp-large {
                margin-top: -55%;
            }
            @include bp-xlarge {
                margin-top: -50%;
            }
            @include bp-xxlarge {
                margin-top: -42%;
            }
        }
        &-wide{
            max-width: 996px;
            align-items: center;
        }
        &-narrow{
            max-width: 556px;
            padding: 1rem 1rem;
            @include bp-medium {
                padding: 1rem 0;
            }
            @include bp-large {
                margin: 0 0 0 auto;
                max-width: 70%;
                padding: 0 208px 0 0;
            }
            @include bp-xlarge {
                max-width: 80%;
                padding: 0 90px 0 0;
            }
            @include bp-xxlarge {
                max-width: 80%;
                padding: 0 345px 0 0;
            }
        }
        &-quote{
            max-width: 876px;
            margin: 20px auto;
        }
        
        &-qanda{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: column;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;

            @include bp-xlarge {
            flex-direction: row;
            }

            &-pquote{
                margin-top: 165px;
                @include bp-medium {
                    margin-top: 0px;
                }  
            }
        }
    }
    &__content{       
        max-width: 556px;
        margin: 3rem auto;  
        padding: 0 1.5rem;
        &-quote{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font-family: $font--accent;
            color: #d5ecf6;
            @include bp-medium {
                flex-direction: row;
            }
            &-wrap{
                width: 90%;
                margin: 0 auto;
                @include bp-small {
                    width: 55%;
                    margin: 0 auto;
                }
                @include bp-large {
                    width: 30%;
                    margin: 30% auto 0 0;
                }
            }
            &-left{
                min-width: 0;
                padding-right: 0;
                margin-right: 0;
                color: $color--cherry;
                font-size: .8rem;
                font-weight: 600;
                @include bp-medium {
                    min-width: 33%;
                    padding-right: 1rem;
                    margin-right: 1rem;
                }
            }
            &-text{
                font-size: 2.5rem;
                color: #000;
                text-transform: uppercase;
                line-height: 1;  
                border-left: none; 
                padding: 25px;
                background-color: #f3f2ec;
                @include bp-medium {
                    font-size: 2rem;
                    padding: 50px;
                    line-height: 1.2;
                }
                
            }
            &-name{
                border-left: none; 
                @include bp-medium {
                    border-left: solid 1px #f4f1ea;
                }
                p{
                    font-family: $font-primary-condensed;
                    font-size: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $color--cherry;
                    padding: 15px;
                    text-align: right;
                }
                &-r{
                    margin-left: auto;
                    p{
                        padding: 0 20px 10px 0;
                    }
                }
            }
            &-credit{
                font-size: .6rem;
                color: #949494;
                &-r{
                    text-align: right;
                }
            }
        }
        &-question{
            min-width: 50%;
            padding-right: 1rem;
            margin-right: 1rem;
            color: $color--cherry;
            font-size: 1rem;
            font-weight: 600;
            border-bottom: #b9a785 2px solid;
            background-color: rgba(255, 255, 255, 0.8);
            @include bp-medium {
                min-width: 35%;
                margin-left: 20%;
            }
            p{
                padding: 0 0 0 .5rem;
            }
            
        }
        &-answer {
            font-size: 1rem;  
            border-left: solid 1px #f4f1ea; 
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);;
            @include bp-medium {
                padding: 20px 0 20px 20px;
            }
            
            img.left{
                float: left;
                padding: 0 20px 20px 0;
            } 
            img.right{
                float: right;
                padding: 0 0 20px 20px;
            }      
        } 

    }
    &__stripe{
            position: relative;
            z-index: -9999999;
            &-left {
                margin: 0 auto;
                padding: 0;
                position: relative;
                left: 0;
                top: 0;
                width: 90%;
                @include bp-small {
                    width: 72%;
                }
                @include bp-medium {
                    width: 55%;
                }
                @include bp-large {
                    position: absolute;
                    width: 30%;
                }

            }
    } 
    &__banner {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -9999999;
        &-left{
            left: 0;
        }
        @include bp-small {
            width: 65%;
        }
        @include bp-medium {
            width: 60%;
        }
        @include bp-large {
            width: 65%;
        }
        @include bp-xlarge {
            width: 48%;
        }
        &-wrap img{
            margin: 12rem 0 0 0;
            max-width: 135%;
            @include bp-medium {
                margin: 5rem 0 0 0;
                max-width: 100%;
            }
            @include bp-large {
                margin: 0 auto;
            }
        }
    }
    &__hero {
        padding: 0;
        position: relative;
        margin: 35px auto 0 auto;
        max-width: 598px;
        display:block;
        @include bp-large {
            height: 635px;
            max-width: 992px;
            margin: 0;
        }

        &-right{
            width: 89%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            margin-bottom: 40px;
            @include bp-large {
                width: 40%;
                position: absolute;
                right: 0;
                top: 110px;
                margin-top: 0px;
            }
            &-highlight{
                background-color: #f3f2ec;
                font-size: 1rem;
                padding: 1rem;
                p.intro{
                    color: #b9a785;
                    font-weight: 600;
                    border-bottom: solid 2px #b9a785;
                    padding-bottom: 15px;
                }
                strong{
                        color: $color--cherry;
                    }
                    @include bp-large {
                    font-size: .9rem;
                    }
            }
        }
        &-left{
            position: relative;
            width: 100%;
            font-family: $font--accent;
            font-size: 2rem;
            text-transform: uppercase;       
            line-height: .8; 
            letter-spacing: .2rem;  
            text-align: left;
            margin-left: 10%;

            @include bp-xsmall {
                margin-left: 15%;
            }

            @include bp-small {
                margin-left: 18%;
            }
            @include bp-medium {
                font-size: 3rem;
                margin-left: 14%;
            }

            @include bp-large {
                font-size: 3.5rem;
                width: 60%;
                position: absolute;
                left: 0;
                top: 220px;
                margin-left: 0;
            }
        }
        &-title-wrap{
            position: relative;
        }
        &-title{
            position: absolute;
            top: 20px;
            color: $color--cherry;
            text-shadow: #fff 2px 2px;
            clear: both;
        }
        &-title-two{
            color: $color--cherry;
            position: relative;
            left: 30px;
            top: 60px;
            @include bp-small {
                top: 70px;
                left: 50px;
            }
            @include bp-medium {
                top: 80px;
                left: 50px;
            }
            @include bp-large {
                top: 90px;
                left: 50px;
            }

            &::before{
                content: "A";
                position: absolute;
                top: 0;
                left: -14px;
                font-size: 1.4rem;
                color: #b9a785;
                border-bottom: solid 2px $color--cherry;
                @include bp-large {
                font-size: 2rem;
                top: 3px;
                left: -30px;
                }
            }
            span { 
                padding-left: 35px;    
                @include bp-large {
                padding-left: 60px; 
                }
                &::before{
                    content: "And";
                    position: absolute;
                    top: 0;
                    left: 80px;
                    font-size: 1.4rem;
                    color: #b9a785;
                    border-bottom: solid 2px $color--cherry;
                    @include bp-medium {
                        left: 108px; 
                    }
                    @include bp-large {
                        font-size: 2rem;
                        top: 3px;
                        left: 130px; 

                        }
                }
                &::after{
                    content: "To";
                    position: absolute;
                    top: 0;
                    left: 243px;
                    font-size: 1.4rem;
                    color: #b9a785;
                    border-bottom: solid 2px $color--cherry; 
                    @include bp-medium {
                        left: 320px; 
                    }
                    @include bp-large {
                        font-size: 2rem;
                        top: 3px;
                        left: 386px;
                        }
                }
            }
        }
        &-subtitle{
            position: absolute;
            top: 110px;
                left: 2px;
            color: #b9a785;
            font-size: 3rem;
            @include bp-small {
                font-size: 3.5rem;
            }
            @include bp-medium {
                font-size: 4rem;
                top: 144px;
                left: 30px;
                }
            @include bp-large {
                font-size: 5rem;
                top: 170px;
            left: 10px;
                }
          
        }
        &-byline{
            font-size: .8rem;
            font-family: $font-primary-condensed;
            color: $color--cherry;
            text-align: left;
            text-transform:none;
            padding-right: 120px;
            span{
                letter-spacing: 1px;
            }
            @include bp-medium {
                top: 10px;
                left: 0px;
                text-align: right;
            }
            @include bp-large {
                left: 205px;
            }
        }
    }
    &__intro {
        padding: 0 0 3rem 0;
        display: flex;
        flex-direction: column;
        @include bp-small {
            flex-direction: row;
        }
        &-left {
            position: relative;
            max-width: 60%;
            padding: 20px;
            margin-top: 40px;
            background-color: rgba(255, 255, 255, 0.9);
            @include bp-medium {
                max-width: 40%;
                padding: 0px 10px; 
            }
            p {
                line-height: 1.4;
                margin: 0;
                font-size: 1rem;
                color: $color--charcoal;
                @include bp-medium {
                    line-height: 1.3;
                    margin: 1rem 0;
                    font-size: 1rem;
                }
                span {
                    
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }       
        }
        &-center {
                min-width: 30%;
                padding-right: 10%;
                margin-top: -120px;
                z-index: 1;
                &-img{
                    img{
                    opacity: 0;
                    }
            } 
        }
        &-right {
            margin-left: 0rem;
            padding-left: 0rem;
            p {
                line-height: 1.3;
                margin: 1rem;
                font-size: .75rem;
                span {  
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }  
            @include bp-small {
                min-width: 35%;
            }
        }  
    }
    
}
.cta{
    border-bottom: solid 2px #b9a785;
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 20px;
    &-link{
        font-size: 1rem;
        font-weight: 600;
        transition: all .4s ease-in-out;
        a{
            color:$color--cherry;
            transition: all .4s ease-in-out;
            &:hover{
                color: #b9a785; 
                text-decoration: none;
        }
    }
    }
}