footer {
    color:#FFF;
    padding:5rem 0 5rem 0;
    background: #222;
    .footer__logo {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        img {
            max-width:75px;
        }
        span {
            padding-left:1rem;
            font-size:2rem;
            font-family: $font-secondary;
            line-height: 2rem;
        }
    }
    .footer__title {
        font-family: $font-primary-condensed;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: bolder;
        display: block;
        margin-bottom:1rem;
    }
    .footer__meta {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $font-primary-condensed;
        p {
            margin-bottom:.25rem;
        }
        a {
            color:#FFF; 
        }
    }
    .footer__links {
        list-style: none;
        a {
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(60%,transparent),color-stop(60%,#ffad30));
            background-image: -o-linear-gradient(top,transparent 60%,#ffad30 60%);
            background-image: linear-gradient(to bottom,transparent 60%,#ffad30 60%);
            background-size: 0;
            background-position: left bottom;
            background-repeat: no-repeat;
            font-family: $font-primary-condensed;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: .9rem;
            background-size: 0;
            transition: 0.3s ease;
            text-decoration: none;
            color:rgba(255,255,255,.5);
            display: inline-block;
            margin-bottom:.5rem;
            &:hover {
                background-size: 100%;
                color:#FFF;
            }
        }
    }
}

.footer{
    &-close .slide-close{
       margin-right: auto;
       font-size: 3rem;
       padding-bottom: 3rem;
       border: none;
       outline: none;
    }
	&__articles{
        margin-bottom: 1rem;
		&-wrap{
			width: 33.33333%;
		}

		&__icon {
			color: $color--cherry;
			line-height: 1;
			background: none;
			background-repeat: no-repeat;
			background-size: 150px;
			height: auto;
			text-align: center;
			position: relative;
			margin: 10px auto;
			padding-left: 0;
            @include bp-medium {
                margin: 0 auto;
            }
			i{
				font-size: 1.75rem;
				float: none;
				width: 100%;
                    @include bp-medium {
                    float: left;
				    width: 30%;
                }
			}	
		}
		&__title{
			color: #1F134E;
			font-size: 1rem;
			font-family: $font-primary-condensed;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 1.1;
            text-align: center;
            width: 100%;
            float: none; 
			padding: 0;
            @include bp-medium {
                text-align: left;
                width: 70%;
                float: left;
                padding-right: 0;
            }
				&:hover{
					color: $color--lime;
				}
			&-live{
				color: $color--lime;
				text-transform: uppercase;
				font-style: italic;
				font-weight: 900;
				text-align: center;
                padding: 0;
                @include bp-medium {
                    text-align: left;
                    width: 70%;
                    float: left;
                    padding-right: 0;
                }
			  }
			}
		}
	}
