.hero-wrap {
	background: linear-gradient(0deg, rgba(30, 92, 133, 1) 0%, rgb(8, 49, 77, 1) 60%);
	position: absolute;
	width: 100%;
	min-height: 100%;
	overflow: hidden !important;
}

.hero{
	&__cover{
		font-family: $font--accent;
		text-transform: uppercase;
		color: #a32135;
		letter-spacing: 2px;
		line-height: 1;
		padding-top: 10px;
		padding-bottom: 250px;
		position: absolute;
		left: 0;
		z-index: 8;
		background-image: linear-gradient(0deg, rgba(14,49,77,0), rgba(8,49,77,1));
			@include bp-large {
				max-width: 100%;
				height: auto;
				background-image: none;
			}
			@include bp-xlarge {
				max-width: 50%;
				}
		&__title {
			position: relative;
			font-size: 6rem;
			text-align: left;
			margin: 0;
			span {
				color: #fff;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #fff;
			}
			@include bp-medium {
				font-size: 6rem;
			}
			@include bp-large {
				padding: 0 0 0 26%;
			}
			@include bp-xlarge {
				padding: 0 0 0 1rem;
				span{
					-webkit-text-stroke-color: #fff;
				}
			}
			@include bp-xxlarge {
				font-size: 8rem;	
			}
		}
		&__byline {
			vertical-align: middle;
			font-size: 1.5rem;
			margin: 0;
			padding: 0;
			letter-spacing: .09rem;
			color: #fff;
			@include bp-large {
				padding: 0 0 0 26%;
				letter-spacing: .1rem;
			}
			@include bp-xlarge {
				padding: 0 0 0 1rem;
				font-size: 1rem;
				text-shadow: 0 5px 5px #132a42;
			}
			@include bp-xxlarge {
				font-size: 1.5rem;	
			}
		}
		&__issue {
			font-size: 2.3rem;
			color: #c5dc2f;
			text-align: left;
			margin: 0;
			padding-top: 10px;
			@include bp-medium {
				font-size: 3.5rem;
			}
			@include bp-large {
				padding-top: 10px;
			}
			@include bp-xlarge {
				text-shadow: 0 5px 5px #132a42;
			}
			@include bp-xxlarge {
				font-size: 4rem;	
			}
		}
		&__season {
			font-family: $font-primary-condensed;
			font-size: .75rem;
			text-align: left;
			margin: 0;
			padding: 0;
			color: #fff;
			@include bp-xxlarge {
				font-size: 1rem;	
			}
		}
	}
	&__eyetest{
        padding: 0;
		position: absolute;
		right: -6%;
		bottom: 0;
		@include bp-small{
			max-width: 100%;
		}
			@include bp-medium{
				max-width: 100%;
				right: -3%;
			}
			@include bp-large {
				right: 0px;
				max-width: 60%;
				}
			@include bp-xlarge {
				max-width: 50%;
			
				}
			&-bg{
				z-index: 4;
				margin: 0 auto;
				text-align: center;
				position: relative;
				top: 0px;
				padding: 0px;
				min-height: 100%;
					img{
						position: absolute;
						bottom: 0;
						left: -150px;
						width: 635px;
						max-width: 635px;
							@include bp-small {
								width: 555px;
								max-width: 555px;
								left: 0;
							}
							@include bp-medium {
								width: 675px;
								max-width: 675px;
							}
							@include bp-xlarge {
								width: 600px;
								max-width: 600px;
							}
							@include bp-xxlarge {
								width: 690px;
								max-width: 690px;
							}
							@include bp-xxxlarge {
								width: 720px;
								max-width: 720px;
							}
						}
					}
			&-lens{
				z-index: 6;
				position: absolute;
				&-lt{
						bottom: 198px;
    					left: -72px;
						width: 235px;
				
					@include bp-small {
						bottom: 162px;
						left: 55px;
						width: 220px;
					}
					@include bp-medium {
						bottom: 195px;
						left: 58px;
						width: 280px;
					}
					@include bp-xlarge {
						bottom: 183px;
						left: 75px;
						width: 230px;
						}
					@include bp-xxlarge {
						bottom: 213px;
						left: 75px;
						width: 265px;	
						}
					@include bp-xxxlarge {
						bottom: 213px;
						left: 75px;
						width: 275px;	
						}
					@include bp-xxxxlarge {
						bottom: 220px;
						left: 77px;
						width: 280px;
					}
					img{
						width: 100%;
						animation: spinninglensleft 5s normal forwards ease-in-out;
					}
				}
				&-rt{
						bottom: 198px;
						left: 170px;
						width: 235px;
					@include bp-small {
						bottom: 162px;
						left: 276px;
						width: 220px;
					}
					@include bp-medium {
						bottom: 195px;
						left: 340px;
						width: 280px;
					}
					@include bp-xlarge {
						bottom: 183px;
						left: 298px;
						width: 230px;
						}
					@include bp-xxlarge {
						bottom: 213px;
						left: 349px;
						width: 265px;
						}
					@include bp-xxxlarge {
						bottom: 213px;
						left: 360px;
						width: 275px;
						}
					@include bp-xxxxlarge {
						bottom: 220px;
						left: 358px;
						width: 280px;
					}
					img{
						width: 100%;
						animation: spinninglensright 5s normal forwards ease-in-out;
					}
				}
		}
			&-spinner{
				z-index: 5;
				position: absolute;
				&-lt{
					animation: spinningknob 5s normal forwards ease-in-out;	
					bottom: 105px;
    				left: -31px;
					width: 105px;
					@include bp-small {
						bottom: 76px;
						left: 99px;
						width: 100px;
					}
				@include bp-medium {
					bottom: 107px;
   					 left: 126px;
					width: 115px;
					}
				@include bp-xlarge {
					bottom: 85px;
					left: 108px;
					width: 108px;
					}
				@include bp-xxlarge {
					bottom: 111px;
    				left: 125px;
					width: 120px;
					}
				@include bp-xxxlarge {
					bottom: 122px;
					left: 134px;
					}
				@include bp-xxxxlarge {
					bottom: 118px;
					left: 134px;
					}
					&-shadow{
						z-index: 6;
						position: absolute;
						bottom: 102px;
						left: -33px;
						width: 110px;
							@include bp-small {
								left: 100px;
								bottom: 74px;
								width: 100px;
							}
							@include bp-medium {
								left: 123px;
								bottom: 104px;
								width: 120px;
							}
							@include bp-xlarge {
								bottom: 81px;
								left: 102px;
								width: 120px;	
								}
							@include bp-xxlarge {
								bottom: 105px;
								left: 118px;
								width: 134px;
								}
							@include bp-xxxlarge {
								bottom: 116px;
								left: 127px;
								}
							@include bp-xxxxlarge {
								bottom: 113px;
								left: 127px;
								}
							}
					}
				&-rt{
					animation: spinningknob 5s normal forwards ease-in-out;
					width: 105px;
					bottom: 105px;
    				left: 266px;
					@include bp-small {
						bottom: 76px;
						left: 357px;
						width: 100px;
					}
					@include bp-medium {
						bottom: 100px;
   					 	left: 438px;
						width: 115px;
					}
					@include bp-xlarge {
						bottom: 86px;
						left: 385px;
						width: 108px;
						}
					@include bp-xxlarge {
						bottom: 111px;
						left: 445px;
						width: 120px;
						}
					@include bp-xxxlarge {
						bottom: 118px;
						left: 464px;
						}
					@include bp-xxxxlarge {
						bottom: 118px;
						left: 464px;
						}
					&-shadow{
						z-index: 6;
						position: absolute;
						bottom: 102px;
    					left: 264px;
						width: 110px;
						@include bp-small {
							left: 358px;
							bottom: 74px;
							width: 100px;
						}
						@include bp-medium {
							left: 436px;
							bottom: 97px;
							width: 120px;
						}
						@include bp-xlarge {
							bottom: 81px;
    						left: 380px;
							width: 120px;	
							}
						@include bp-xxlarge {
							bottom: 105px;
							left: 438px;
							width: 134px;
							}
						@include bp-xxxlarge {
							bottom: 112px;
    						left: 457px;
							}
						@include bp-xxxxlarge {
							bottom: 113px;
							left: 458px;
							}
					}
				}
			}

			&-word{
				z-index: 5;
				position: absolute;
				animation: blurwords 4s normal forwards ease-in-out;
				&-lt{
					bottom: 253px;
    				left: 74px;
					@include bp-small {
						bottom: 220px;
						left: 195px;
						img{
							width: 90%;
						}
					}
					@include bp-medium {
						bottom: 270px;
						left: 239px;
						img{
							width: 100%;
						}
					}
					@include bp-xlarge {
						bottom: 239px;
						left: 210px;
						}
					@include bp-xxlarge {
					
						bottom: 278px;
						left: 246px;
						}
					@include bp-xxxlarge {
						bottom: 290px;
						left: 258px;
						}
				}
				&-rt{
					bottom: 253px;
    					left: 207px;
					@include bp-small {
						bottom: 220px;
    					left: 312px;
						img{
							width: 90%;
						}
					}
					@include bp-medium {
					    bottom: 270px;
    					left: 380px;
						img{
							width: 100%;
						}
					}
					@include bp-xlarge {
						bottom: 239px;
						left: 336px;
						}
					@include bp-xxlarge {
						bottom: 278px;
						left: 391px;
						}
					@include bp-xxxlarge {
						bottom: 290px;
						left: 409px;
						}
				}
			}
    }
	&__articles{
		z-index: 99999;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		&-push{
			@include bp-large {
				width: 50%;
				margin: 50px;
			}
			@include bp-xlarge {
				width: 100%;
			}
		}
		&-wrap{
			&-l{
				width: 27%;
				@include bp-medium {
					width: 33.33333%;
				}
			}
			&-c{
				width: 40%;
				@include bp-medium {
					width: 33.33333%;
				}
			}
			&-r{
				width: 33%;
				@include bp-medium {
					width: 33.33333%;
				}
			}
		}
		&__icon {
			color: #1f2224;
			line-height: 1;
			background: none;
			background-repeat: no-repeat;
			text-align: center;
			position: relative;
			margin: 0 auto;
			height: 45px;
   			width: 200px;
			background-size: 120px;
			&-l{
				animation-delay: 8s;
			}
			&-c{
				animation-delay: 6s;
			}
			&-r{
				animation-delay: 4s;
			}
			@include bp-xlarge {
				animation: spinarticleextend 5s infinite linear;
				background-image: url(https://www2.fox.temple.edu/fox-focus/assets/img/cir-bg.png);
				height: 200px;
				width: 200px;
				background-size: 200px;
			}			
			&-wrap{
				position: relative;
				@include bp-xlarge {
					width: 200px;
				}
			}
			i{
				font-size: 1rem;
				float: left;
				width: 20%;
				margin-left: 5px;
				@include bp-small {
					font-size: 2rem;
					width: 20%;	
				}
				@include bp-medium {
					margin-left: 0;
				}
				@include bp-xlarge {
					float: none;
					width: 25%;
				}
			}
			&-l{
				animation-delay: 8s;
			}
			&-c{
				animation-delay: 6s;
			}
			&-r{
				animation-delay: 4s;
			}	
		}
		&__title{
			font-size: .75rem;
			text-align: left;
			color:#fff;
			font-family: $font-primary-condensed;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 1.1;
			padding-left: 5px;
			border-left: #c5dc2f solid 6px;
			@include bp-xlarge {
				text-align: center;
				width: 100%;
				padding-left: 7%;
				opacity: 0.1;
				color:#132a42;
				animation: blurwords 4.2s ease 0s forwards;
				-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;
				border-left:none;
			}
			&-l{
				animation-delay: 8s;
				-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;
			}
			&-c{
				animation-delay: 6s;
				-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;
			}
			&-r{
				animation-delay: 4s;
				-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;
			}
				&:hover{
					filter: blur(0px);
					-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;

				}
				@include bp-xlarge {
					-webkit-filter: blur(1px);
					font-size: .88rem;
					letter-spacing: 1px;
					font-weight: bold;
					-webkit-transition: all 3s ease !important;
					transition: all 3s ease !important;
				}
			}
		}
	}
.row-override{
	min-width: none;
	@include bp-xlarge {
		min-width: 100%;
	}
}

.center-vert{
	position: absolute;
    top: 40%;
}

.note{
	text-align: center;
    font-size: .7rem;
}

.home-flipbook{
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
